.pokemon li {
    /* width: 200px;
    min-height: 250px; */
    border: 1px solid #000;
    /* list-style-type: none; */
    display: inline-block;
    margin: 25px;
}

ul {
    width: 70%;
    margin: auto;
}